@import url("https://fonts.googleapis.com/css2?family=Nabla&family=Raleway:wght@500;600&family=Roboto&family=Tilt+Warp&display=swap");
:root {
  --footer-height: 60px;
  --logo-height: 8rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Raleway", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d4cdc5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* *,
*::after,
*::before {
  /* background-color: #d4cdc5; */

button {
  border: none;
  border-radius: 0;
  background: #f4f4f2;
  margin: 0;
  padding: 0;
  width: auto;

  appearance: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  cursor: pointer;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}
